[Unit]
Description={{ current_service_description}}

[Service]
WorkingDirectory={{ current_service_location }}/{{ current_service_dir_name }}
ExecStart=/bin/bash {{ current_service_location }}/{{ current_service_dir_name }}/start.sh
Restart=on-failure
User=master
Group=master
RestartSec=5
