#!/bin/bash

IFACE=$1
STATUS=$2

if [ "$STATUS" == "up" ]; then
        if [ "$IFACE" == "{{ansible_default_ipv4.alias}}" ]; then
    		default via 192.168.190.190 dev {{ansible_default_ipv4.alias}}
        192.168.190.190 dev {{ansible_default_ipv4.alias}} scope link
        fi

fi