[Unit]
Description=Snort NIDS Daemon


[Service]
Type=simple
ExecStart=/usr/local/bin/snort -q -u snort -g snort -c /etc/snort/snort.conf -i {{ansible_default_ipv4.alias}}
Restart=on-failure
RestartSec=5


