{
  "service": {
    "name": "application-scanner",
    "host": "{{ ansible_user_ip }}",
    "port": 8793
  },
  "monitoring-manager": {
    "port": 80,
    "host": "k8s-proxy.dai-lab.de"
  },
  "metrics": {
    "enabled": true,
    "metrics.port": 8906
  },
  "monitoring.data.source": {
    "isParser": false,
    "useSubnetInfo": true
  },
  "publishURL": "/cosy/production-dai-internal/monitoring-manager/rest/publish/:service",
  "unpublishURL": "/cosy/production-dai-internal/monitoring-manager/rest/unpublish/:service"
}